<%- include('header'); -%>


<!-- HEADING DAY -->
<div id="heading" class="">
  <h1><%= presentDay %></h1>
</div>



<!-- IMAGES -->
<div id="photo">
  <img src="images/nutrition.png" class="nutrition">
  <img src="images/barbell.png" class="barbell">
  <img src="images/gym.png" class="gym">
  <img src="images/flexing.png" class="flexing">
  <img src="images/biceps.png" class="biceps">
</div>




<!-- WORKOUTS -->
<div id="middle" class="">
  <form action="/" method="post">

    <div class="box">

      <!-- FIXED_TOP_warmUp -->
      <div class="item">
        <input type="checkbox">
        <p class="warmup">Warm-up</p>
        <p class="topSetWord">sets🔻</p>
      </div>


      <!-- NEWLY ADDED -->

      <% for(var i=0; i<itemList.length; i++){ %>
        <div class="item">
          <input type="checkbox">
          <div class="inputItem">
            <p><%= itemList[i].name %></p>
            <p class="itemSet"><%= itemList[i].set %></p>
          </div>
          <button class="deleteItemBtn" type="submit" name="delete" value="<%= itemList[i]._id %>">x</button>
        </div>
      <% };%>





      <!-- FIXED_BOTTOM_cooldown -->
      <div class="item">
        <input type="checkbox">
        <p>Cool-down</p>
      </div>



      <!-- INPUTS_ADDbtn -->
      <div id="bottom" >
        <button class="resetBtn" type="submit" name="resetbtn">reset</button>
        <input type="text" name="addNew" placeholder="Add new workout" autocomplete="off" class="workoutInput">
        <input type="text" name="setNo" placeholder="sets" autocomplete="off" class="setInput">
        <button class="addItemBtn" type="submit" name="button">+</button>
      </div>

    </div>
  </form>
</div>



<%- include('footer'); -%>
